.navbar {
  background-color: #2A2F4F;
  width: 170px;
  height: 100vh;
  position: static;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: white;
}

.element-list {
  list-style: none;
  margin-top: 100px;
  padding: 0;
  margin: 0;
}

.navbar-element {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  border-left: 5px solid transparent;
  margin: 40px 0;
  
}

.navbar-element:hover,
.link-active {
  background-color: #917FB3;
  border-left: 5px solid #5800aa;
  color: #2A2F4F;
}

.iconos {
  margin-right: 15px;
  color: white;
}

.collapsed .navbar-element {
  display: flex;
  justify-content: center;
}

.profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 80px;
}

.collapsed {
  width: 60px;
}

.collapsed .profile-icon {
  font-size: 40px;
}

.collapsed .iconos {
  margin-right: 0px;
}

.logo-image {
  width: 90%;
  height: auto;
  margin-bottom: 10px;
  margin-left: 10px;
}

.navbar-text {
  padding-left: 10px;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  color: white;
}

.nav-div {
  width: 100%;
}

.toggleNavbar{
  margin-left: 20px;
}

@media (max-width: 767px) {
  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #917FB3;
    border-top: 1px solid #ddd;
    border-left: none;
    z-index: 9999;
  }

  .element-list-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0px;
  }

  .navbar-element-mobile {
    flex-basis: 33.33%;
    padding: 10px;
    border-top: 1px solid transparent;
    color: black;
    
  }

  .navbar-text {
    display: none;
  }

  .iconos {
    font-size: 1.2rem;
  }

  .profile-icon-mobile {
    flex-basis: 33.33%;
    text-align: center;
    padding: 10px;
    color: #fff;
  }

  .link-active {
    border-left: 0px;
    border-top: 2px solid #2A2F4F;
  }

}
