<nav [ngClass]="{ collapsed: isNavbarCollapsed }" class="navbar">
  <div class="nav-div">
    <div *ngIf="!isMobile" (click)="toggleNavbar()" class="nav-div toggleNavbar">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    

    <ul class="element-list">
      <div
        class="profile-icon"
        [routerLink]="['user-profile']"
        routerLinkActive="link-active"
      >
        <img class="profile-image"  [src]="user?.profile?.foto"/>
    </div>
      <li *ngFor="let option of navbarOptions">
        <a
          class="navbar-element"
          [routerLink]="[option.enlace]"
          routerLinkActive="link-active"
        >
        <i class="{{option.icono}} iconos" aria-hidden="true"></i>
          <span *ngIf="!isNavbarCollapsed" class="navbar-text">{{option.texto}}</span>
        </a>
      </li>
    </ul>
  </div>
  <img
    class="logo-image"
    [src]="isNavbarCollapsed ? 'assets/logo2.png' : 'assets/logo.png'"
    alt="error"
  />
</nav>

<div class="navbar-mobile" *ngIf="isMobile">
  <ul class="element-list-mobile">
    <li *ngFor="let option of navbarOptions">
      <a
        class="navbar-element-mobile"
        [routerLink]="[option.enlace]"
        routerLinkActive="link-active"
      >
      <i class="{{option.icono}} iconos" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a
        class="profile-icon-mobile"
        [routerLink]="['user-profile']"
        routerLinkActive="link-active"
      >
        <i class="fa fa-user iconos" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
