.navbar {
    background-color: #fff;
    width: 150px;
    height: 100vh;
    position: static;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .elements-list {
    list-style: none;
    margin-top: 200px;
    padding: 0;
    margin: 0;
  }
  
  .navbar-element{
    color: #333;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-left: 5px solid transparent;
    margin: 80px 0;
  }
  
  .navbar-element:hover,
  .link-active {
    background-color: #eee;
    border-left: 5px solid #5800AA;
  }

  .iconos {
    margin-right: 15px;
    
  }

  .collapsed .navbar-element{
    display: flex;
    justify-content: center;
  }

.profile-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 80px;
}

.collapsed {
  width: 60px;
}

.collapsed .profile-icon {
  font-size: 40px;
}

.collapsed .iconos{
  margin-right: 0px;
}

.logo-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.navbar-text{
  font-size: 15px;
}