.success-message {
    background-color: #9df09d;
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 500px;
    float: right;
  }
  
  .show-message {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    animation: slide-in 0.5s forwards;
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @media (max-width: 768px) {
    .success-message {
     width: 100%;
    }
  }
  
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .card {
    flex-basis: calc(20% - 40px); 
    height: 120px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0.5rem 0.5rem 1rem #696969;
  
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    color: #917FB3;
    
  }
  
  
  @media (max-width: 768px) {
    .card {
      flex-basis: 100%;
    }
  }
  
  
  .button-icon{
    border: none;
    background-color: transparent;
    margin: 10px;
    width: 10px;
  }
  
  .iconos-sesiones {
    margin-right: 10px;
    color:  #917FB3;
    font-size: 18px;
  }

  .button-sesion {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 15px;
    border-radius: 5px;
    width: 110px;
    height: 30px;
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #333333;
  }
  
  .button-sesion:hover {
    background-color: #f2e9f8;
    cursor: pointer;
  }
  
  .button-sesion.selected {
    background-color: #f2e9f8;
    color: black;
    border: 2px solid #333333;
  }

  @media only screen and (max-width: 400px) {
    .button-sesion {
      font-size: 13px;
    }
  }
  