<div *ngIf="successMessage" class="success-message" [class.show-message]="successMessage">
    {{ successMessage }}
</div>

<div class="card-container">
    <ng-container *ngFor="let sesion of sesionesFormateadas">
      <mat-card
        class="card"
      >
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ sesion.nombrePaciente}}</mat-card-title>
            <mat-card-subtitle
              >Fecha: {{ (sesion.fecha)}} - Hora: {{ (sesion.hora)}}</mat-card-subtitle
            >
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-actions class="mat-card-actions">
          <button (click)="eliminarSesion(sesion._id)" class="button-icon"><i class="fa fa-trash iconos-sesiones" aria-hidden="true"></i></button>
          <button  class="button-icon"><i class="fa fa-pencil iconos-sesiones" aria-hidden="true"></i></button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
