.card-container {
  display: flex;
  flex-wrap: wrap;
  
}

.card {
  flex-basis: calc(33% - 40px); 
  height: 120px;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0.5rem 0.5rem 1rem #696969;

  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  color: #917FB3;
  
}


@media (max-width: 768px) {
  .card {
    flex-basis: 100%;
  }
}


.button-invitacion {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 15px;
    border-radius: 15px;
    width: 180px;
    height: 40px;
  }
  
  .button-invitacion:hover {
    background-color: #e6d7f3;
  }
  
  .button-invitacion.selected {
    background-color: #e6d7f3;
  }

  .button-eliminar{
    margin-left: 10px;
    border-radius: 15px;
    width: 100px;
    height: 30px;
  }

  .iconos {
    margin-right: 10px;
  }