.documentos-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 20px;
  position: relative;
}

.document-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
    margin-top: 8px;
}

.archivo {
  margin-top: 50px;
  width: 30%;
}

.button-tab {
    margin-top: 0px;
    margin-left: 0px;
    font-size: 15px;
    border-radius: 15px;
    width: 120px;
    height: 30px;
  }
  
  .button-tab:hover {
    background-color: #e6d7f3;
  }
  
  .button.tab.selected {
    background-color: #e6d7f3;
  }

input,
textarea,
select {
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1em;
  width: 100%;
  margin-bottom: 1em;
}

.card {
  flex-basis: calc(25% - 40px); 
  margin: 20px;
  
}

.loading-message{
  margin-bottom: 20px;
}


@media (max-width: 768px) {
  .card-container {
    flex-basis: 100%;
    flex-direction: row;
  }
  .archivo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 20px;
  }
  .archivo span {
    margin-bottom: 10px;
  }
  .archivo input[type="file"] {
    margin-bottom: 0px;
  }
  .button-tab{
    margin-left: 20px;
    margin-bottom: 10px;
  }

  img{
    margin-left: 30px;
  }

  .loading-message{
    margin-top: 20px;
  }

  .eye-icon {
    color: grey;
    position: absolute;
    left: 0;
   }

}
.card:hover{
  background-color: #e6d7f3;
}

.eye-icon {
 margin-left: auto;
 color: grey;
 position: absolute;
 right: 0;
}

.eye-icon--visible {
  color: rgb(139, 28, 190);
}

.button-icon{
  border: none;
  background-color: transparent;
  margin: 10px;
  top: 20px;
  width: 10px;
  margin-left: auto;
  position: absolute;
  right: 0;
}

.iconos-documentos {
  margin-right: 10px;
  color:  #917FB3;
  font-size: 18px;
}
