.documentos-container {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 20px;
}

.document-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
    margin-top: 8px;
}

.archivo {
  margin-top: 50px;
  width: 30%;
}

button {
    margin-top: 20px;
    margin-left: 15px;
    font-size: 15px;
    border-radius: 15px;
    width: 120px;
    height: 30px;
  }
  
  button:hover {
    background-color: #e6d7f3;
  }
  
  button.selected {
    background-color: #e6d7f3;
  }

input,
textarea,
select {
  padding: 0.5em;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1em;
  width: 100%;
  margin-bottom: 1em;
}

.card {
  flex-basis: calc(25% - 40px); 
  margin: 20px;
  
}

@media (max-width: 768px) {
  .card-container {
    flex-basis: 100%;
    flex-direction: row;
  }
}
.card:hover{
  background-color: #e6d7f3;
}

.eye-icon {
 margin-left: auto;
 color: grey;
}

.eye-icon--visible {
  color: blue;
}
