
<div class="archivo">
  <span>Adjuntar archivo</span>
  <input type="file" (change)="getFile($event)" />
  <div class="loading-message" *ngIf="loading">Cargando...</div>
</div>

<div>
  <button class="button-tab" (click)="sendFile()">Enviar</button>
</div>

<div class="documentos-container">
  <div
    class="card-container"
    *ngFor="let documento of documentos; let i = index"
  >
    <div
      class="eye-icon"
      (click)="toggleVisibility(documento)"
      [ngClass]="{
        'eye-icon--visible': documento.estado === 'visible'
      }"
    >
      <i class="fa fa-eye"></i>
    </div>
    <button (click)="eliminarDocumento(documento._id)" class="button-icon">
      <i class="fa fa-trash iconos-documentos" aria-hidden="true"></i>
    </button>
    <img src="../../../../assets/pdf.png" (click)="openDocumento(documento)" />
    <p class="document-name" (click)="openDocumento(documento)">
      {{ documento.nameFile }}
    </p>
  </div>
</div>
