<div class="archivo">
  <span>Adjuntar archivo</span>
  <input type="file" (change)="getFile($event)" />
  <div *ngIf="loading">Cargando...</div>
</div>

<div>
  <button (click)="sendFile()">Enviar</button>
</div>

<div class="documentos-container">
  <div
    class="card-container"
    *ngFor="let documentos of documentos; let i = index"
    (click)="openDocumento(documentos)"
  >
      <img src="../../../../assets/pdf.png" />
      <p class="document-name">{{ documentos.nameFile }}</p>
  </div>
</div>
