.card-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .card {
    flex-basis: calc(20% - 40px); 
    height: 100px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0.5rem 0.5rem 1rem #696969;
  
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    color: #917FB3;
    
  }
  .titulo-paciente {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin: 20px;
    font-family: inherit, Arial, Helvetica, sans-serif;
    display: inline-block;
    position: relative;
  }
  
  .titulo-paciente::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 700px;
    border-bottom: 2px solid #000000;
  }
  
  @media (max-width: 768px) {
    .card {
      flex-basis: 100%;
    }
  }