<button (click)="logOut()">Cerrar sesión</button>

<div *ngIf="successMessage" class="success-message" [class.show-message]="successMessage">
  {{ successMessage }}
</div>

<div class="container" *ngIf="userForm">
  <form [formGroup]="userForm" class="form-wrapper" (submit)="actualizarPerfil()">
    <h3>Informacion personal</h3>
    <div>
      <label for="email">Correo:</label>
      <input type="text" id="email" name="email" formControlName="email" />
    </div>
    <div>
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" formControlName="name" />
    </div>
    <div>
      <label for="descripcion">Descripción:</label>
      <textarea
        id="descripcion"
        name="descripcion"
        formControlName="descripcion"
      ></textarea>
    </div>
    <div>
      <label for="telefono">Teléfono:</label>
      <input
        type="text"
        id="telefono"
        name="telefono"
        formControlName="telefono"
      />
    </div>
    <div>
      <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
      <input
        type="date"
        id="fecha_nacimiento"
        name="fecha_nacimiento"
        formControlName="fecha_nacimiento"
      />
    </div>
    <div>
      <label for="sexo">Sexo:</label>
      <select id="sexo" name="sexo" formControlName="sexo">
        <option value="Masculino">Masculino</option>
        <option value="Femenino">Femenino</option>
      </select>
    </div>
    <button type="submit">Guardar Cambios</button>
  </form>
</div>
