<div class="search-container">
  <input matInput placeholder="Buscar pacientes" name="filterPost" [(ngModel)]="filterPost">
</div>

<div class="card-container">
  <ng-container *ngFor="let paciente of pacientes | filterPacientes:filterPost">
    <mat-card
      *ngIf="paciente.id_paciente"
      class="card"
      [routerLink]="['/pacientes-site', paciente.id_paciente._id]"
      [queryParams]="{ tab: 'datos' }"
    >
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ paciente.id_paciente.name }}</mat-card-title>
          <mat-card-subtitle
            >Correo: {{ paciente.id_paciente.email }}</mat-card-subtitle
          >
          <div class="img">
            <img
              mat-card-sm-image
              [src]="paciente.id_paciente.foto"
            />
          </div>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>{{
        paciente.id_paciente.descripcion
      }}</mat-card-content>
    </mat-card>
  </ng-container>
</div>
