
<button class="button-sesion" (click)="modalVisible = true">
  <i class="fa fa-plus-circle iconos" aria-hidden="true"></i>
  <span>Crear sesión</span>
</button>

<div
  *ngIf="modalVisible"
  class="modal-background"
  (click)="modalVisible = false"
></div>

<div *ngIf="modalVisible" class="modal">
  <span class="modal-close" (click)="modalVisible = false">&times;</span>

  <form
    [formGroup]="sesionForm"
    (ngSubmit)="crearSesion()"
    class="form-wrapper"
  >
    <label for="fecha">Fecha de la sesión:</label>
    <input type="datetime-local" id="fecha" formControlName="fecha" />


    <label for="paciente">Paciente:</label>
    <select id="paciente" formControlName="id_paciente">
      <option
        *ngFor="let paciente of pacientes"
        [value]="paciente.id_paciente._id"
      >
        {{ paciente.id_paciente.name }}
      </option>
    </select>

    <button class="button-form" type="submit">Crear sesión</button>
  </form>
</div>

<div *ngIf="successMessage" class="success-message" [class.show-message]="successMessage">
  {{ successMessage }}
</div>

<div class="card-container">
  <ng-container *ngFor="let sesion of sesionesFormateadas">
    <mat-card
      class="card"
    >
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ sesion.nombrePaciente}}</mat-card-title>
          <mat-card-subtitle
            >Fecha: {{ (sesion.fecha)}} - Hora: {{ (sesion.hora)}}</mat-card-subtitle
          >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-actions class="mat-card-actions">
        <button (click)="eliminarSesion(sesion._id)" class="button-icon"><i class="fa fa-trash iconos-sesiones" aria-hidden="true"></i></button>
        <button  class="button-icon"><i class="fa fa-pencil iconos-sesiones" aria-hidden="true"></i></button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>

